<div class="cross-post-blogs">
  <h3 class="home__subtitle">{{header_title}}</h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for link in linklists['cross-post-blogs'].links %}
        {% assign blog = link.object %}
        {% for article in blog.articles %}
          {% for tag in tags %}
            {% if tag contains 'article:' %}
              {% assign article_id = tag | remove: 'article:' | plus: 0 %}
              {% if article.id == article_id %}
                <div class="swiper-slide">
                  <article>
                    <a target="_blank" href="{{ article.url }}">
                      <img src="{{article.image | image_url: width: 300}}" loading="lazy" alt="{{ article.title | strip_html | escape }}">
                      <h5>{{article.title}}</h5>
                    </a>
                  </article>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %} 
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>