<header class="giftcard-header" role="banner">
  <div class="h1 header-logo">
    {% if section.settings.logo != blank %}
      {%- assign img_url = section.settings.logo | image_url: width: 440 -%}
      <a href="{{ shop.url }}" itemprop="url">
        <img src="{{ img_url }}"
            style="width: {{ section.settings.logo_max_limit }}px; margin: 0 auto;"
            alt="{{ section.settings.logo.alt | default: shop.name | strip_html | escape }}" loading="lazy">
      </a>
    {% else %}
      <a href="{{ shop.url }}" itemprop="url">{{ shop.name }}</a>
    {% endif %}
  </div>
  <div class="shop-url">{{ shop.url }}</div>
</header>
{% schema %}
{
  "name": "Gift card",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type":    "range",
      "id":      "logo_max_limit",
      "min":     5,
      "max":     495,
      "step":    5,
      "unit":    "px",
      "label":   "Logo width",
      "default": 120
    }
  ]
}
{% endschema %}
